@import '../../styles/_colors.scss';

.form {
  margin-bottom: 2rem;

  .title {
    font-size: 16px;
  }

  .formWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;

    .jobName {
      flex: 4;
    }

    .priority {
      flex: 2;
    }

    .button {
      flex: 1;
    }
  }
}
