@import '../../../styles/colors';

.element {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    border: 1px solid $secondary-light-color;
    border-radius: 0.3rem;
    padding: 0.5rem;
    outline-color: $primary-color;
  }
  label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
  .errorMessage {
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    color: $danger-color;
  }
  &.error {
    input {
      border-color: $danger-color !important;
      outline-color: $danger-color !important;
    }
  }
}
