@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');
@import './_common.scss';

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
